#home-category {
  background-color: #fff;
  padding: 10px;
}
#home-category .carousel-item ul {
  width: 100%;
  height: auto;
}
#home-category .carousel-item li {
  display: block;
  list-style: none;
  width: 20%;
  background-repeat: no-repeat;
  background-size: 50px auto;
  background-position: top center;
  text-align: center;
  padding-top: 50px;
  color: #666;
  font-size: 14px;
}
#home-category .carousel-item li.jingdian {
  background-image: url('../../static/img/jingdian.png');
}
#home-category .carousel-item li.ktv {
  background-image: url('../../static/img/ktv.png');
}
#home-category .carousel-item li.gouwu {
  background-image: url('../../static/img/gouwu.png');
}
#home-category .carousel-item li.shenghuofuwu {
  background-image: url('../../static/img/shenghuofuwu.png');
}
#home-category .carousel-item li.jianshenyundong {
  background-image: url('../../static/img/jianshenyundong.png');
}
#home-category .carousel-item li.meifa {
  background-image: url('../../static/img/meifa.png');
}
#home-category .carousel-item li.qinzi {
  background-image: url('../../static/img/qinzi.png');
}
#home-category .carousel-item li.xiaochikuaican {
  background-image: url('../../static/img/xiaochikuaican.png');
}
#home-category .carousel-item li.zizhucan {
  background-image: url('../../static/img/zizhucan.png');
}
#home-category .carousel-item li.jiuba {
  background-image: url('../../static/img/jiuba.png');
}
#home-category .carousel-item li.meishi {
  background-image: url('../../static/img/meishi.png');
}
#home-category .carousel-item li.dianying {
  background-image: url('../../static/img/dianying.png');
}
#home-category .carousel-item li.jiudian {
  background-image: url('../../static/img/jiudian.png');
}
#home-category .carousel-item li.xuixianyule {
  background-image: url('../../static/img/xiuxianyule.png');
}
#home-category .carousel-item li.waimai {
  background-image: url('../../static/img/waimai.png');
}
#home-category .carousel-item li.huoguo {
  background-image: url('../../static/img/huoguo.png');
}
#home-category .carousel-item li.liren {
  background-image: url('../../static/img/liren.png');
}
#home-category .carousel-item li.dujiachuxing {
  background-image: url('../../static/img/dujiachuxing.png');
}
#home-category .carousel-item li.zuliaoanmo {
  background-image: url('../../static/img/zuliaoanmo.png');
}
#home-category .carousel-item li.zhoubianyou {
  background-image: url('../../static/img/zhoubianyou.png');
}
#home-category .carousel-item li.ribencai {
  background-image: url('../../static/img/ribencai.png');
}
#home-category .carousel-item li.SPA {
  background-image: url('../../static/img/SPA.png');
}
#home-category .carousel-item li.jiehun {
  background-image: url('../../static/img/jiehun.png');
}
#home-category .carousel-item li.xuexipeixun {
  background-image: url('../../static/img/xuexipeixun.png');
}
#home-category .carousel-item li.xican {
  background-image: url('../../static/img/xican.png');
}
#home-category .carousel-item li.huochejipiao {
  background-image: url('../../static/img/huochejipiao.png');
}
#home-category .carousel-item li.shaokao {
  background-image: url('../../static/img/shaokao.png');
}
#home-category .carousel-item li.jiazhuang {
  background-image: url('../../static/img/jiazhuang.png');
}
#home-category .carousel-item li.chongwu {
  background-image: url('../../static/img/chongwu.png');
}
#home-category .carousel-item li.quanbufenlei {
  background-image: url('../../static/img/quanbufenlei.png');
}
#home-category .index-container {
  margin-top: 10px;
}
#home-category .index-container ul {
  width: 100%;
  height: auto;
  text-align: center;
}
#home-category .index-container li {
  list-style: none;
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-color: #ccc;
  margin: 0 3px;
}
#home-category .index-container li.selected {
  background-color: #e9203d;
}
